button {
    border: 2px solid black;
    border-radius: 100px;
    margin: 5px;

    width: 3vw;
    height: 4.5vh;
    
    box-shadow: 0 3px 8px;
    transition: all 0.15s ease-in-out;
}

button:hover {
    box-shadow: 0 1px 2.6px;
    transform: translateY(1px);
}

button:active {
    background-color: rgb(177, 177, 177);
}