@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&display=swap");

:root {
    --font: "Atkinson Hyperlegible Mono", Arial, Helvetica, sans-serif
}

body {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;

    background: linear-gradient(0deg, black, rgb(30, 30, 30));
    background-size: cover;

    color: white;

    font-family: var(--font);

    margin: 0;
}

h1 {
    text-align: center;
} 

#buttons {
    display: flex;
}

#calculator {
    width: clamp(200px, 40vw, 500px);
    height: 80vh;


    background-color: gray;;

    border: 5px solid rgb(0, 0, 0);
    border-radius: 25px;
    padding: 10px;
}

#display {
    width: 95%;
    height: 10vh;

    border: 2px solid black;
    border-radius: 20px;

    margin-bottom: 20px;
    padding-right: 20px;

    background-color: white;

    justify-self: center;
    justify-items: right;
    align-items: center;
}

#display h2 {
    color: black;
}

#numbers {
    
}































/* Wyatt Was Here */